<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe.title }}</title>
</head>
<body>
    <h1>{{ recipe.title }}</h1>
    <p><strong>Описание:</strong> {{ recipe.description }}</p>
    <p><strong>Шаги приготовления:</strong> {{ recipe.steps }}</p>
    <p><strong>Время приготовления:</strong> {{ recipe.cooking_time }} минут</p>
    {% if recipe.image %}
        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" width="300">
    {% endif %}
</body>
</html>
